body {
    background-color: rgb(97, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
form {
    background-color: grey;
    padding: 2em;
    border-radius: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 24px;
}
h1, h2, a {
    text-decoration: none;
    color: white;
    text-align: center;
}